html,body {
	/*height:100%;*/
}
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	text-transform: none;
	background-color: white;	background-color: #6cbd35;
	background-image: linear-gradient(top, #3f7a63 0%, #6cbd35 51%);
	background-image: -webkit-linear-gradient(top, #3f7a63 0%, #6cbd35 51%);
	background-image: -ms-linear-gradient(top, #3f7a63 0%, #6cbd35 51%);
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #3f7a63), color-stop(0.51, #6cbd35) );
	background-attachment: fixed;	
}
div[data-role='content'] {
	height: 100%;
}
div[data-role='content'] {
	background-color: rgba(255,255,255,1);
	width: 100%;
   	position: absolute;
   	bottom: 0;
   	top: 64px;
}
div[data-role='header'] {
	text-align: center;
}
div[data-role='header'] img {
	margin-top: 28px;
	height: 30px;
}

div#card-caroussel {
	height: 100%;
}
div.card-container {
	height: 100%;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.letters, .dropzones {
	float:left;
	width:100%;
	margin-left:5.5%;
	position:relative;
}
.dropzones {
	margin-top: 10%; 
}
.letters {
	margin-top: 5%;
}
.riddle-image {
	width:80%;
	display:block;
	margin-top:5%;
	margin-left: auto;
	margin-right: auto 
}
h1, h2 {
	font-family: 'Georgia', 'Open Sans', sans-serif;*/
	color: #b4b4b4;
	text-align: center;
	font-size: 24px;
	font-weight: 100;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	line-height: 30px;
}
h2 {
	font-size: 18px;
	margin-top: 36px;
	color: #b4b4b4;
}
.draggable, .droppable {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color:lightblue;
	border:1px solid blue;
}
.scaled {
	background-color: yellow;
	-webkit-transform: scale(2, 2);
	transform: scale(2, 2);
}
.droppable {
	background-color:lightgreen;border:1px solid green;
}
.letter-card {
	font-size:30px;
	font-weight: bold;
}
.dropzone-container, .letter-container {
	float: left;
	margin-right: 1%;
	position: relative;
	width: 8%;
}
.dropzone-container:after, .letter-container:after {
	content: '';
	display: block;
	margin-top: 100%;
}

/* overwrite jquery ui css */
.ui-mobile .ui-page {
	min-height: 420px;
	height: 100%;
}

/* overwrite slick-slider css */
.slick-slider {
	margin-bottom: 0;
}
.slick-list, .slick-slider .slick-track {
	height: 100%;
}